<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1 class="display-4">About!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, officiis obcaecati blanditiis veritatis, veniam nulla dolorum eius nemo eos est temporibus, voluptatibus illo sit animi soluta rerum culpa iusto corrupti!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/wolverine.png" alt="heroe" class="img-thumbnail">

    </div>
</div>
   

{{>footer}}
</body>

</html>